
<mat-dialog-content>

  <h1 mat-dialog-title class="flex items-center justify-center space-x-2 text-center">
    <span class="font-semibold">{{ data.actionType }} {{ selectedType() ? selectedType() : 'income or expense' }}</span>
  </h1>

  <!-- Primera línea de separación -->
  <div class="mx-auto w-5/6 border-t my-2"></div>
  
  <!-- Elección de tipo -->
  <div class="flex flex-col space-y-2 mb-4 w-full items-center">

    <!-- Etiqueta de selección centrada y en la parte superior -->
    <label class="text-sm md:text-base font-medium">Choose a type (*):</label>

    <mat-chip-listbox class="flex justify-center overflow-x-auto space-x-2"
    [disabled]="data.actionType === actionTypes.EDIT" 
    (change)="selectedType.set($event.value ? $event.value.toLowerCase() : $event.value)">

      @for (type of types; track $index) {

        <mat-chip-option [value]="type" class="px-4 py-2">
          {{ type }}
        </mat-chip-option>

      }

    </mat-chip-listbox>

  </div>

  <!-- Segunda línea de separación -->
  <div class="mx-auto w-5/6 border-t mt-4"></div>

  <form [formGroup]="incomeOrExpenseForm" class="my-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

    <!-- Fecha -->
    <mat-form-field class="w-full">

      <mat-label>Date</mat-label>

      <input matInput [matDatepicker]="dp" formControlName="date" required readonly>
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>

      <mat-icon matSuffix
      matTooltip="Select the date for the {{ selectedType() ? selectedType() : 'income or expense' }}">
        info
      </mat-icon>

      @if(incomeOrExpenseForm.get('date')?.hasError('required')) {

        <mat-error> Date is required. </mat-error>

      }

    </mat-form-field>
  
    <!-- Categoría -->
    <mat-form-field class="w-full">

      <mat-label>Category</mat-label>
      <input matInput placeholder="Select a category" formControlName="category" required>

      <mat-icon matSuffix
      matTooltip="Choose the category that best describes the {{ selectedType() ? selectedType() : 'income or expense' }}">
        info
      </mat-icon>

      @if(incomeOrExpenseForm.get('category')?.hasError('required')) {

        <mat-error> Category is required. </mat-error>

      }

    </mat-form-field>
  
    <!-- Subcategoría -->
    <mat-form-field class="w-full">

      <mat-label>Subcategory</mat-label>
      <input matInput placeholder="Select a subcategory" formControlName="subCategory">

      <mat-icon matSuffix
      matTooltip="(Optional) Select a more specific category for the {{ selectedType() ? selectedType() : 'income or expense' }}">
        info
      </mat-icon>

    </mat-form-field>

    <!-- Divisa -->

    <mat-form-field class="w-full">

      <mat-label>Currency</mat-label>

      <mat-select formControlName="currency" required>

        @for (currency of currencyConversionService.currencies(); track $index) {

          <mat-option [value]="currency.currencyCode"> {{ currency.currencyName }} </mat-option>

        }

      </mat-select>

      <mat-icon matSuffix
      matTooltip="Specify the currency for the {{ selectedType() ? selectedType() : 'income or expense' }} (e.g., USD, EUR)">
        info
      </mat-icon>

      @if(incomeOrExpenseForm.get('currency')?.hasError('required')) {

        <mat-error> Currency is required. </mat-error>

      }

    </mat-form-field>

    <!-- Cantidad -->
    <mat-form-field class="w-full" floatLabel="always">

      <mat-label>Amount</mat-label>
      <input matInput placeholder="1000.00" formControlName="amount" required>

      <span matTextPrefix>{{ 0 | simboloDivisa: incomeOrExpenseForm.get('currency')?.value }}</span>

      <mat-icon matSuffix
      matTooltip="Enter the amount for the {{ selectedType() ? selectedType() : 'income or expense' }} (e.g., 100.00)">
        info
      </mat-icon>

      @if(incomeOrExpenseForm.get('amount')?.hasError('required')) {

        <mat-error> Amount is required. </mat-error>

      }

      @if(incomeOrExpenseForm.get('amount')?.hasError('pattern')) {

        <mat-error> Invalid amount. Max 15 digits and 2 decimals. </mat-error>

      }

    </mat-form-field>
  
    <!-- Notas -->
    <mat-form-field class="w-full">

      <mat-label>Notes</mat-label>
      <input matInput placeholder="Description" formControlName="notes">

      <mat-icon matSuffix
      matTooltip="(Optional) Add any additional details about the {{ selectedType() ? selectedType() : 'income or expense' }}">
        info
      </mat-icon>

      <mat-hint align="end">{{ incomeOrExpenseForm.get('notes')?.value.length }}/{{ maxNotesLength }}</mat-hint>

      @if(incomeOrExpenseForm.get('notes')?.hasError('maxlength')) {

        <mat-error> Max length reached. </mat-error>

      }

    </mat-form-field>
    
  </form>

  <mat-slide-toggle
  class="mb-6"
  (change)="isRecurrence.set(!isRecurrence())"
  [disabled]="data.actionType === actionTypes.EDIT">
    In case your {{ selectedType() || 'income or expense' }} entry is recurring. (Note: The recurrence starts from the date selected above.)
  </mat-slide-toggle>

  <!-- Recurrencia -->
  <div matTooltip="Recurrence must be selected"
  [matTooltipDisabled]="isRecurrence()">

    <mat-expansion-panel 
    [disabled]="!isRecurrence()" 
    class="my-6"
    [expanded]="isRecurrence()">

      <mat-expansion-panel-header>

        <mat-panel-title> Recurrence </mat-panel-title>

        <mat-panel-description class="flex place-content-end">

          <mat-icon>calendar_today</mat-icon>

        </mat-panel-description>

      </mat-expansion-panel-header>

      <form [formGroup]="recurrenceForm" class="my-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

        <!-- Tipo de recurrencia -->
        <mat-form-field class="w-full">

          <mat-label>Recurrence type</mat-label>
          <input matInput placeholder="daily" formControlName="recurrenceType" required>

          <mat-icon matSuffix
          matTooltip="Enter the type of recurrence (e.g., daily, weekly, monthly or yearly)">
            info
          </mat-icon>

          @if(recurrenceForm.get('recurrenceType')?.hasError('required')) {

            <mat-error> Recurrence type is required. </mat-error>
    
          }
          
        </mat-form-field>

        <!-- Frecuencia -->
        <mat-form-field class="w-full">

          <mat-label>Frequency</mat-label>
          <input matInput placeholder="1" formControlName="frequency" required>

          <mat-icon matSuffix
          matTooltip="Specify how often the recurrence occurs (e.g., every 1 day, 2 weeks)">
            info
          </mat-icon>

          @if(recurrenceForm.get('frequency')?.hasError('required')) {

            <mat-error> Frequency is required. </mat-error>
    
          }

          @if(recurrenceForm.get('frequency')?.hasError('pattern')) {

            <mat-error> Invalid frequency. </mat-error>
    
          }

          @if(recurrenceForm.get('frequency')?.hasError('maxlength')) {

            <mat-error> Max 3 digits. </mat-error>
    
          }

        </mat-form-field>

        <!-- Fecha de fin -->
        <mat-form-field class="w-full">

          <mat-label>End date</mat-label>

          <input matInput [matDatepicker]="dp1" formControlName="endDate" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
          <mat-datepicker #dp1></mat-datepicker>

          @if(recurrenceForm.get('endDate')?.value) {

              <mat-icon matSuffix class="cursor-pointer"
              (click)="recurrenceForm.get('endDate')?.setValue(null)">
                close
              </mat-icon>

          } @else {

            <mat-icon matSuffix
            matTooltip="(Optional) Set the end date for the recurrence">
              info
            </mat-icon>

          }

    
        </mat-form-field>

        <!-- Ocurrencias -->
        <mat-form-field class="w-full">

          <mat-label>Ocurrences</mat-label>
          <input matInput placeholder="5" formControlName="occurrences">

          <mat-icon matSuffix
          matTooltip="(Optional) Enter the number of times the recurrence should happen">
            info
          </mat-icon>

          @if(recurrenceForm.get('occurrences')?.hasError('pattern')) {

            <mat-error> Invalid ocurrence. </mat-error>
    
          }

          @if(recurrenceForm.get('occurrences')?.hasError('maxlength')) {

            <mat-error> Max 3 digits. </mat-error>
    
          }
          
        </mat-form-field>

      </form>
  
    </mat-expansion-panel>

  </div>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-button mat-dialog-close class="mr-2">Cancelar</button>

  <div 
  matTooltip="There are mandatory fields not filled"
  [matTooltipDisabled]="selectedType() && incomeOrExpenseForm.valid && ((isRecurrence() && recurrenceForm.valid) || !isRecurrence())">

    <button 
    mat-flat-button 
    type="submit"
    (click)="submitForm()"
    [disabled]="!selectedType() || incomeOrExpenseForm.invalid || (isRecurrence() && recurrenceForm.invalid)">

      <mat-icon>add</mat-icon>
      {{ data.actionType }}

    </button>

  </div>

</mat-dialog-actions>
