
  <div class="relative px-6 lg:px-8">

    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">

      <div class="text-center">

        <h1 class="text-balance text-5xl font-semibold tracking-tight sm:text-7xl">Welcome to {{ webName }}</h1>

        <p class="mt-8 text-pretty text-lg font-medium sm:text-xl/8">
          {{ subject }}
        </p>
        
        @if(!authService.isTokenValid()) {

          <div class="mt-10 flex items-center justify-center gap-x-6">

            <button mat-flat-button [routerLink]="[loginRoute]">
              <mat-icon> login </mat-icon>
              <span> Log in </span>
            </button>

            <button mat-stroked-button [routerLink]="[signUpRoute]">
              <mat-icon> person_add </mat-icon>
              <span> Create acount </span>
            </button>

          </div>

        }

      </div>

    </div>

  </div>

