<mat-dialog-content class="!pb-3">

  <h1 mat-dialog-title class="flex items-center justify-center text-lg font-semibold text-center">
    Manage categories and subcategories
  </h1>

  @if(!isFormCategory()) {

    <div class="flex flex-col md:flex-row gap-4 mb-4">

      <!-- Buscar por nombre -->
      <mat-form-field class="w-full md:w-1/2">

        <mat-label>Search for categories</mat-label>
        <input matInput placeholder="Search" (keyup)="applyFilter()" [formControl]="searchName">

      </mat-form-field>

      <!-- Selector tipo -->
      <mat-form-field class="w-full md:w-1/2">

        <mat-label>Type</mat-label>

        <mat-select [formControl]="searchType" (selectionChange)="applyFilter()">

          @for (type of ['', 'income', 'expense']; track $index) {

            <mat-option [value]="type">{{ type === '' ? 'No selection' : capitalize(type) }}</mat-option>

          }

        </mat-select>

      </mat-form-field>

    </div>

    <table mat-table [dataSource]="dataSourceCategories" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="text-left w-1/2">Name</th>
        <td mat-cell *matCellDef="let category" class="text-left">{{ category.name }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="w-1/6 !text-center">Type</th>
        <td mat-cell *matCellDef="let category" class="!text-center">
          <span 
          class="px-2 py-1 rounded text-xs font-medium"
          [ngClass]="{
            'bg-green-100 text-green-800': category.type === 'income',
            'bg-red-100 text-red-800': category.type === 'expense'
          }">
            {{ capitalize(category.type) }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef class="!text-center w-1/6">Color</th>
        <td mat-cell *matCellDef="let category" class="!place-items-center">
          
          <div [ngStyle]="{ 'background-color': category.color }" class="w-4 h-4 rounded-full border border-category"></div>

        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="w-1/4 !text-center">
          <button mat-icon-button 
          (click)="isFormCategory.set(true); actionTypeCategory.set(actionTypes.CREATE)"
          matTooltip="New">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let category" class="!text-center">

          <button mat-icon-button 
          (click)="setEditCategory(category)"
          matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>

          @if(category.linked) {

            @if(category.active) {

              <button mat-icon-button
              matTooltip="Disable"
              (click)="openActionDialog({id: category.id, name: category.name}, 'category', 'warning')">
                <mat-icon>do_not_disturb_on</mat-icon>
              </button>

            } @else {

              <button mat-icon-button
              matTooltip="Enable"
              (click)="openActionDialog({id: category.id, name: category.name}, 'category', 'info')">
                <mat-icon>power_settings_new</mat-icon>
              </button>

            }

          } @else {

            <button mat-icon-button
            matTooltip="Delete"
            (click)="openActionDialog({id: category.id, name: category.name}, 'category', 'delete')">
              <mat-icon>delete</mat-icon>
            </button>

          }



        </td>
      </ng-container>

      <tr class="mat-row" *matNoDataRow>

        @if(tableLoader()) {

          <td class="mat-cell p-3 place-items-center" colspan="3">
            <mat-spinner [diameter]="40"></mat-spinner>
          </td>

        } @else {

          <td class="mat-cell p-3 text-center" colspan="3">No categories in sight</td>

        }

      </tr>

      <tr mat-header-row *matHeaderRowDef="columnsCategory; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsCategory"></tr>
    </table>

  } @else {

    <form [formGroup]="categoryForm">

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-6">

        <!-- Nombre -->
        <mat-form-field class="w-full">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name">
          <mat-icon matSuffix matTooltip="The name of the category">info</mat-icon>
          <mat-hint align="end">{{ categoryForm.get('name')?.value?.length || 0 }}/{{ maxNotesLength }}</mat-hint>

          @if(categoryForm.get('name')?.hasError('maxlength')) {

            <mat-error>{{ maxLengthMessage }}</mat-error>

          }

          @if(categoryForm.get('name')?.hasError('required')) {

            <mat-error>{{ nameMessage }}</mat-error>

          }

          @if(categoryForm.get('name')?.hasError('whiteSpace')) {

            <mat-error>{{ whiteSpaceMessage }}</mat-error>
            
          }

        </mat-form-field>

        <!-- Tipo -->
        <mat-form-field class="w-full"
        matTooltip="This category is linked to an actual {{ editingCategory?.type }}"
        [matTooltipDisabled]="!editingCategory?.linked">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" required (selectionChange)="filterCategories()">
            @for (type of ['income', 'expense']; track $index) {
              <mat-option [value]="type">{{ capitalize(type) }}</mat-option>
            }
          </mat-select>
          <mat-icon matSuffix matTooltip="Specify if the category is for an income or expense">info</mat-icon>
          @if(categoryForm.get('type')?.hasError('required')) {
            <mat-error>{{ typeMessage }}</mat-error>
          }
        </mat-form-field>

        <!-- Color -->
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Select color</mat-label>
          <input matInput formControlName="color" type="color"/>
          <mat-icon matSuffix matTooltip="Specify the color of the category for the graphics">info</mat-icon>
        </mat-form-field>

      </div>

    </form>

    <mat-expansion-panel class="my-6">
      <mat-expansion-panel-header>
        <mat-panel-title> Subcategories </mat-panel-title>
        <mat-panel-description class="flex justify-end">
          <mat-icon>folder_open</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      @if(!isFormSubcategory()) {
        
        <table mat-table [dataSource]="dataSourceSubcategories" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-left w-3/5">Name</th>
            <td mat-cell *matCellDef="let subcategory" class="text-left">{{ subcategory.name }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">

            <th mat-header-cell *matHeaderCellDef class="w-2/4 !text-center">

              <button mat-icon-button 
              (click)="isFormSubcategory.set(true); actionTypeSubcategory.set(actionTypes.CREATE)"
              matTooltip="New">
                <mat-icon>add</mat-icon>
              </button>

            </th>
            <td mat-cell *matCellDef="let subcategory" class="!text-center">
  
              <button mat-icon-button 
                (click)="setEditSubcategory(subcategory)"
                matTooltip="Edit">
                <mat-icon>edit</mat-icon>
              </button>
            
              <div 
                matTooltip="This subcategory is linked to an actual {{ subcategory.type }}"
                [matTooltipDisabled]="!subcategory.linked"
                class="inline-flex items-center">
                
                <button mat-icon-button
                  matTooltip="Delete"
                  [disabled]="subcategory.linked"
                  (click)="openActionDialog({id: subcategory.id, name: subcategory.name}, 'subcategory', 'delete')">
                  <mat-icon>delete</mat-icon>
                </button>
            
              </div>
            
            </td>
            
          </ng-container>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell p-3 text-center" colspan="3">No subcategories in sight</td>
          </tr>

          <tr mat-header-row *matHeaderRowDef="columnsSubcategory; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsSubcategory"></tr>

        </table>

      } @else {

        <form [formGroup]="subcategoryForm">

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-6">

            <mat-form-field class="w-full">

              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name">

              <mat-icon matSuffix matTooltip="The name of the subcategory">info</mat-icon>

              <mat-hint align="end">{{ subcategoryForm.get('name')?.value?.length || 0 }}/{{ maxNotesLength }}</mat-hint>

              @if(subcategoryForm.get('name')?.hasError('maxlength')) {

                <mat-error>{{ maxLengthMessage }}</mat-error>

              }

              @if(subcategoryForm.get('name')?.hasError('required')) {

                <mat-error>{{ nameMessage }}</mat-error>
    
              }

              @if(subcategoryForm.get('name')?.hasError('whiteSpace')) {

                <mat-error>{{ whiteSpaceMessage }}</mat-error>

              }

            </mat-form-field>

            <button mat-button (click)="resetSubcategoryForm()">Cancel</button>

            <button mat-flat-button type="submit" (click)="submitSubcategoryForm()" [disabled]="subcategoryForm.invalid">

              @if(actionTypeSubcategory() === actionTypes.EDIT) {
                <mat-icon>edit</mat-icon>
              } @else {
                <mat-icon>add</mat-icon> 
              }

              {{ actionTypeSubcategory() }}

            </button>        

          </div>

        </form>

      }

    </mat-expansion-panel>

  }

</mat-dialog-content>

<mat-dialog-actions class="flex justify-end space-x-2">

  @if(isFormCategory()) {

    <button mat-button (click)="resetCategoryForm()">Cancel</button>

    <button mat-flat-button type="submit" (click)="submitCategoryForm()" [disabled]="categoryForm.invalid">

      @if(actionTypeCategory() === actionTypes.EDIT) {
        <mat-icon>edit</mat-icon>
      } @else {
        <mat-icon>add</mat-icon> 
      }

      {{ actionTypeCategory() }}

    </button>

  } @else {

    <button mat-button mat-dialog-close>Close</button>

  }
  
</mat-dialog-actions>
