    <!-- Selector cambio de divisa -->
    <section>

      <button mat-stroked-button 
        matTooltip="It is possible that the API has reached its maximum call limit"
        [matTooltipDisabled]="selectedCurrency.currencyCode !== '' && selectedCurrency.currencyName !== ''"
        [matMenuTriggerFor]="currencyMenu" aria-label="Menú cambio de divisa" class="w-24 ms-3 me-3">
  
        @if(selectedCurrency.currencyCode !== '' && selectedCurrency.currencyName !== '') {
  
          <mat-icon [svgIcon]="selectedCurrency.currencyCode"></mat-icon>
  
        }
  
        <span>{{ selectedCurrency.currencyCode !== '' ? selectedCurrency.currencyCode : noValue }}</span>
  
      </button>
      
    </section>

    <!-- Menú divisas -->
    <mat-menu #currencyMenu="matMenu">

      @for(currency of currencies; track currency) {

        <button mat-menu-item (click)="currencySelection(currency.currencyCode, currency.currencyName)">
          <mat-icon [svgIcon]="currency.currencyCode"></mat-icon>
          @if(currency.currencyCode === selectedCurrency.currencyCode) {
            <mat-icon>check</mat-icon>
          }
          <span>{{ currency.currencyName }}</span>
        </button>

      } @empty {

        <button mat-menu-item>
          <mat-icon>report</mat-icon>
          <span>No currencies available</span>
        </button>

      }

    </mat-menu>