<section class="fixed top-16 right-2 z-50 space-y-4">

  @for (notification of notificacionesService.notifications(); track $index) {

    <div [ngClass]="{
      'border-[var(--success-color)] text-[var(--success-color)] bg-[var(--success-color-light)]': notification.tipo === 'success',
      'border-[var(--delete-color)] text-[var(--delete-color)] bg-[var(--delete-color-light)]': notification.tipo === 'error',
      'border-[var(--warning-color)] text-[var(--warning-color)] bg-[var(--warning-color-light)]': notification.tipo === 'warning',
      'border-[var(--info-color)] text-[var(--info-color)] bg-[var(--info-color-light)]': notification.tipo === 'info'    }" 
    [@fadeInRight]
    class="border-l-4 p-4 rounded-md shadow-lg transition-opacity duration-300">

    <!-- Icono de notificación -->
    <div class="flex items-center space-x-2">

      @if(notification.tipo === 'success') {

        <mat-icon class="text-[var(--success-color)]">check_circle</mat-icon>

      }

      @if(notification.tipo === 'error') {

        <mat-icon class="text-[var(--delete-color)]">error</mat-icon>

      }

      @if(notification.tipo === 'warning') {

        <mat-icon class="text-[var(--warning-color)]">warning</mat-icon>

      }

      @if(notification.tipo === 'info') {

        <mat-icon class="text-[var(--info-color)]">info</mat-icon>

      }

      <p class="font-semibold">{{ notification.mensaje }}</p>

      <span class="flex-auto"></span>

      <!-- Icono de cierre-->
      <mat-icon class="cursor-pointer text-gray-500 hover:text-gray-800" (click)="close(notification.id)">close</mat-icon>

    </div>

  </div>
  }

</section>
