<mat-dialog-content class="max-w-max rounded-lg shadow-lg text-center">

  <div class="text-5xl mb-4" 
  [ngClass]="{'warning': data.type === 'warning',
              'info': data.type === 'info',
              'delete': data.type === 'delete'}">

    <mat-icon>{{ getIcon() }}</mat-icon>

  </div>

  <h2 class="text-xl font-semibold mb-4" 
  [ngClass]="{'warning': data.type === 'warning',
              'info': data.type === 'info',
              'delete': data.type === 'delete'}">

    {{ getTitle(data.type) }}

  </h2>

  <p class="mb-6">{{ data.message }}</p>

  <div class="flex justify-around">

    @if(data.cancelButtonText) {

      <button mat-button (click)="onCancel()"
      class="px-4 py-2">
  
        {{ data.cancelButtonText }}
  
      </button>

    }

    <button mat-button (click)="onConfirm()"
    class="px-4 py-2 rounded"
    [ngClass]="{'warning': data.type === 'warning',
                'info': data.type === 'info',
                'delete': data.type === 'delete'}">

      {{ data.confirmButtonText }}

    </button>

  </div>
</mat-dialog-content>