<div class="h-screen md:grid place-items-center">

  <mat-card class="p-8 max-w-3xl w-full !rounded-none md:!rounded-lg">

    <!-- Cabecera -->
    <h1 class="mb-5 grid place-items-center">

      Create account

    </h1>

  
    <div class="md:flex">
  
      <!-- Sección información -->
      <section class="md:w-1/2 m-3 text-center md:text-left">
        <h2 class="text-xl font-bold text-primary-500 mb-4">
          Manage your finances with ease!
        </h2>
        <p class="mb-2">
          Sign up and keep track of your income, expenses, and investments all in one place. With our app, you can:
        </p>
        <ul class="list-disc list-inside space-y-2">
          <li>Monitor your income and expenses.</li>
          <li>Organize your investments and analyze their performance.</li>
          <li>Gain a complete view of your financial situation.</li>
        </ul>
        <p class="mt-4">
          Start building a stronger financial future today. We’ll help you reach your goals!
        </p>

        <button mat-raised-button class="w-full mt-6" (click)="navigateToLoginAccount()">

          <mat-icon> login </mat-icon>
          <span> Log in </span>

        </button>

        <p class="mt-4 text-center">
          You already have an account? Log in!
        </p>

      </section>

      <!-- Sección formulario -->
      <section class="md:w-1/2 m-3">

        <mat-vertical-stepper #stepper animationDuration="250">

          <!-- Paso 1: Email -->
          <mat-step 
            [stepControl]="formEmail"
            [hasError]="formEmail.invalid" 
            [errorMessage]="formError('EMAIL')">

            <form [formGroup]="formEmail" class="text-center">

              <ng-template matStepLabel>Fill out your email</ng-template>

              <mat-form-field>

                <mat-label>Email</mat-label>

                <input matInput placeholder="example@gmail.com" formControlName="email" required>
                
              </mat-form-field>

              <button mat-button matStepperNext>Next</button>

            </form>

          </mat-step>

          <!-- Paso 2: Nombre y apellidos -->
          <mat-step 
            [stepControl]="formName" 
            [optional]="true">

            <form [formGroup]="formName" class="text-center">

              <ng-template matStepLabel>Fill out your name and surnames</ng-template>

              <mat-form-field appearance="fill">
                <mat-label> Enter your name </mat-label>
                <input matInput formControlName="name" placeholder="John" />
              </mat-form-field>
              
              <mat-form-field appearance="fill">
                <mat-label> Enter your surnames </mat-label>
                <input matInput formControlName="surnames" placeholder="Doe" />
              </mat-form-field>

              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
        
            </form>

          </mat-step>

          <!-- Paso 3: Contraseña -->
          <mat-step 
            [stepControl]="formPassword" 
            [hasError]="formPassword.invalid" 
            [errorMessage]="formError('PASSWORD')">
            
            <form [formGroup]="formPassword" class="text-center">

              <ng-template matStepLabel>Fill out your password</ng-template>

              <mat-form-field appearance="fill">

                <mat-label> Enter your password </mat-label>

                <input 
                  matInput 
                  formControlName="password" 
                  [type]="hidePassword() ? 'password' : 'text'" 
                  placeholder="supersecurepassword" />

                <button
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword.set(!hidePassword())">
                  <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

              </mat-form-field>

              <mat-form-field appearance="fill">

                <mat-label> Confirm your password </mat-label>

                <input 
                  matInput 
                  formControlName="passwordConfirm" 
                  [type]="hidePassword() ? 'password' : 'text'" 
                  placeholder="supersecurepassword"/>

                <button
                  mat-icon-button
                  matSuffix
                  (click)="hidePassword.set(!hidePassword())">
                  <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

              </mat-form-field>

              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>

            </form>

          </mat-step>

          <!-- Paso 4: Crear cuenta -->
          <mat-step>

            <ng-template matStepLabel>Create account</ng-template>

            <div 
              class="flex flex-col items-center mt-4"
              matTooltip="There are mandatory fields not filled"
              [matTooltipDisabled]="formEmail.valid && formPassword.valid">

              <div class="mb-5">

                <button 
                mat-flat-button
                (click)="onSubmit()"
                [disabled]="formEmail.invalid || formPassword.invalid">
                <mat-icon> person_add </mat-icon>
                <span> Create account </span>
              </button>

              </div>

              <div>

                <button mat-button matStepperPrevious>Back</button>

              </div>


            </div>

          </mat-step>

          <!-- Sobreescribimos los iconos -->

          <ng-template matStepperIcon="number" let-index="index">

            @switch (index) {
              @case (0) {
                <mat-icon>alternate_email</mat-icon>
              }
              @case (1) {
                <mat-icon>badge</mat-icon>
              }
              @case (2) {
                <mat-icon>key</mat-icon>
              }
              @case (3) {
                <mat-icon>person_add</mat-icon>
              }
            }
            
          </ng-template>

          <ng-template matStepperIcon="edit" let-index="index">

            @switch (index) {
              @case (0) {
                <mat-icon>alternate_email</mat-icon>
              }
              @case (1) {
                <mat-icon>badge</mat-icon>
              }
              @case (2) {
                <mat-icon>key</mat-icon>
              }
              @case (3) {
                <mat-icon>person_add</mat-icon>
              }
            }
            
          </ng-template>

        </mat-vertical-stepper>
    
      </section>
  
    </div>
  
  </mat-card>

</div>

