<div class="w-full border-t border-[var(--component)] rounded-lg p-7 md:mt-24 bg-[var(--component)] max-w-md shadow-lg place-self-center animate-slideDown">

  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold mb-3">Create account</h1>
    <p class="text-base text-[var(--text-secondary)]">Complete the form to sign up</p>
  </div>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">

      <mat-form-field>

        <mat-label>Email</mat-label>

        <input matInput placeholder="example@gmail.com" formControlName="email" required>
        
        @if(signUpForm.get('email')?.hasError('required')) {

          <mat-error> Email is required. </mat-error>

        }

        @if(signUpForm.get('email')?.hasError('pattern')) {

          <mat-error> Email is invalid. </mat-error>

        }

      </mat-form-field>

    </div>

    <div class="mb-3">

      <mat-form-field>

        <mat-label> Enter your name </mat-label>

        <input matInput formControlName="name" placeholder="John" />

        @if(signUpForm.get('name')?.hasError('required')) {

          <mat-error> Name is required. </mat-error>

        }

      </mat-form-field>

    </div>

    <div class="mb-3">

      <mat-form-field>

        <mat-label> Enter your surnames </mat-label>
        
        <input matInput formControlName="surnames" placeholder="Doe" />

      </mat-form-field>

    </div>

    <div class="mb-3">

      <mat-form-field>

        <mat-label> Enter your password </mat-label>

        <input 
          matInput 
          formControlName="password"
          [type]="hidePassword() ? 'password' : 'text'"
          (keyup)="passwordStrength()"
          placeholder="Type your password" />

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword.set(!hidePassword())">
            <mat-icon>
              {{hidePassword() ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>

        @if(signUpForm.get('password')?.hasError('required')) {

          <mat-error> Password is required. </mat-error>

        }

      </mat-form-field>

      <div class="h-1 mt-2">
        <div id="passwordStrengthCreateAccount" class="h-full rounded-md w-0 transition-[width,background-color] duration-300 ease"></div>
      </div>

    </div>

    <div class="mb-3">

      <mat-form-field>

        <mat-label> Confirm your password </mat-label>

        <input 
          matInput 
          formControlName="passwordConfirm" 
          [type]="hidePassword() ? 'password' : 'text'" 
          placeholder="Confirm your password"/>

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword.set(!hidePassword())">
          <mat-icon>
            {{hidePassword() ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>

        @if(signUpForm.get('passwordConfirm')?.hasError('mismatch')) {

          <mat-error> Passwords don’t match. </mat-error>

        }

      </mat-form-field>

    </div>

    <button class="primary-button bg-[var(--primary)] hover:bg-[var(--primary-hover)] w-full justify-center disabled:opacity-50 disabled:pointer-events-none"
    type="submit"
    [disabled]="buttonLoader()">

      @if(buttonLoader()) {
        <span class="material-symbols-outlined"> 
          <mat-spinner [diameter]="15"></mat-spinner> 
        </span>
      } @else {
        Create account
      }
        
    </button>

    <div class="text-center mt-6 text-sm">
      ¿Already have an account? <a class="text-[var(--secondary)] hover:text-[var(--secondary-hover)]" [routerLink]="['/' + loginRoute]">Log in!</a>
    </div>

  </form>

</div>