// .selected-button {
//   color: var(--sys-surface-tint) !important;
// }

// .border-color {
//   border-color: var(--sys-on-background);
// }

// .modificar-esquinas {
//   border-top-left-radius: 0% !important;
//   border-bottom-left-radius: 0% !important;
// }

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
}

/* Estilos para el menú desplegable con mat-icon */

.show-dropdown-menu {
  display: block;
}





















