<div class="h-screen md:grid place-items-center">

  <!-- Login -->
  <mat-card class="p-9 md:max-w-[400px] max-w-3xl w-full !rounded-none md:!rounded-lg">

    <!-- Cabecera -->
    <h1>Confirm your new password</h1>

    <!-- Formulario -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Contraseña -->
      <mat-form-field appearance="fill">
            
        <mat-label> Enter your password </mat-label>
      
        <input 
          matInput 
          formControlName="password" 
          [type]="hidePassword() ? 'password' : 'text'" 
          placeholder="epic password" />
      
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword.set(!hidePassword())">

          <mat-icon> {{hidePassword() ? 'visibility_off' : 'visibility'}} </mat-icon>
          
        </button>

        @if(form.get('password')?.hasError('required')) {

          <mat-error> Password is required. </mat-error>

        }
      
      </mat-form-field>


      <mat-form-field appearance="fill">

        <mat-label> Confirm your password </mat-label>

        <input 
          matInput 
          formControlName="passwordConfirm" 
          [type]="hidePassword() ? 'password' : 'text'" 
          placeholder="epic password"/>

        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword.set(!hidePassword())">
          <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if(form.get('passwordConfirm')?.hasError('mismatch')) {

          <mat-error> Passwords don’t match. </mat-error>

        }

      </mat-form-field>

        

      <!-- Sección botonera -->
      <section>

        <button mat-button type="submit">

          <mat-icon> key </mat-icon>
          <span> Save new password </span>

        </button>

      </section>

    </form>

  </mat-card>

</div>