<!-- <div class="h-screen md:grid place-items-center"> -->

  <!-- Login -->
  <!-- <mat-card class="p-9 md:max-w-[450px] max-w-3xl w-full !rounded-none md:!rounded-lg">


    @if(serviceCalled()) { -->

      <!-- Sección de que todo ha ido correctamente -->
      <!-- <div class="p-3 md:max-w-md w-full text-center">

        <h1 class="mb-4">Password changed</h1>
    
        <mat-icon class="mb-4 h-10">check_circle</mat-icon>
    
        <h2 class="text-lg">Your request has been completed successfully.</h2> -->

        <!-- Botón volver al login -->
         <!-- <button mat-button [routerLink]="['/' + loginRoute]" class="mt-4">

          <mat-icon>undo</mat-icon>
          <span>Return to login</span>

         </button>

      </div>

    } @else { -->

    <!-- Cabecera -->
    <!-- <h1 class="mb-8">Confirm your new password</h1> -->

    <!-- Formulario -->
    <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->

      <!-- Contraseña -->
      <!-- <mat-form-field appearance="fill" class="w-full">
            
        <mat-label> Enter your password </mat-label>
      
        <input 
          matInput 
          formControlName="password" 
          [type]="hidePassword() ? 'password' : 'text'" 
          placeholder="epic password" />
      
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword.set(!hidePassword())">

          <mat-icon> {{hidePassword() ? 'visibility_off' : 'visibility'}} </mat-icon>
          
        </button>

        @if(form.get('password')?.hasError('required')) {

          <mat-error> Password is required. </mat-error>

        }
      
      </mat-form-field>


      <mat-form-field appearance="fill" class="w-full">

        <mat-label> Confirm your password </mat-label>

        <input 
          matInput 
          formControlName="passwordConfirm" 
          [type]="hidePassword() ? 'password' : 'text'" 
          placeholder="epic password"/>

        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword.set(!hidePassword())">
          <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        @if(form.hasError('mismatch')) {

          <mat-error> Passwords don’t match. </mat-error>

        }

      </mat-form-field>

         -->

      <!-- Sección botonera -->
      <!-- <section class="flex place-content-end">

        <button mat-flat-button type="submit">

          <mat-icon> key </mat-icon>
          <span> Save new password </span>

        </button>

      </section>

    </form>

    }


  </mat-card>

</div> -->









<div class="w-full border-t border-[var(--component)] rounded-lg p-7 md:mt-24 bg-[var(--component)] max-w-md shadow-lg place-self-center animate-slideDown">

  @if(serviceCalled()) {

    <div class="place-items-center">

      <h1 class="mb-4">Password changed</h1>
        
      <span class="material-symbols-outlined mb-4 text-5xl text-[var(--positive)]">check_circle</span>
    
      <h2 class="text-lg">Your request has been completed successfully.</h2>
    
      <!-- Botón volver al login -->
      <button
      [routerLink]="['/' + loginRoute]" class="mt-4"
      class="primary-button bg-[var(--primary)] hover:bg-[var(--primary-hover)] w-full justify-center mt-3">
    
      <span class="material-symbols-outlined"> 
        arrow_forward
      </span>
      Go to login
       
      </button>

    </div>


  } @else {

    <h1 class="mb-4">Confirm your new password</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Contraseña -->
      <div class="mb-3">
        <mat-form-field class="w-full">
      
          <mat-label> Enter your password </mat-label>
        
          <input 
            matInput 
            formControlName="password" 
            [type]="hidePassword() ? 'password' : 'text'" 
            (keyup)="passwordStrength()"
            placeholder="Your password" />
        
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword.set(!hidePassword())">
  
            <mat-icon> {{hidePassword() ? 'visibility_off' : 'visibility'}} </mat-icon>
            
          </button>
  
          @if(form.get('password')?.hasError('required')) {
  
            <mat-error> Password is required. </mat-error>
  
          }
        
        </mat-form-field>
  
        <div class="h-1 mt-2">
          <div id="passwordStrengthNewPassword" class="h-full rounded-md w-0 transition-[width,background-color] duration-300 ease"></div>
        </div>

      </div>

      <div class="mb-3">

        <mat-form-field class="w-full">

          <mat-label> Confirm your password </mat-label>
  
          <input 
            matInput 
            formControlName="passwordConfirm" 
            [type]="hidePassword() ? 'password' : 'text'" 
            placeholder="Confirm your password"/>
  
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword.set(!hidePassword())">
            <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
  
          @if(form.hasError('mismatch')) {
  
            <mat-error> Passwords don’t match. </mat-error>
  
          }
  
        </mat-form-field>
  
      </div>

      <!-- Botonera -->
      <div class="flex justify-end pt-4 border-t border-[var(--component-hover)]">

        <button class="primary-button bg-[var(--primary)] hover:bg-[var(--primary-hover)] justify-center disabled:opacity-50 disabled:pointer-events-none"
        type="submit"
        [disabled]="buttonLoader()">
    
          @if(buttonLoader()) {
            <span class="material-symbols-outlined"> 
              <mat-spinner [diameter]="15"></mat-spinner> 
            </span>
          } @else {
            Save new password
          }
            
        </button>

      </div>

    </form>

  }

</div>