input {

  border: 1px solid var(--secondary); 
  border-radius: 0.625rem;
  background-color: var(--component);
  font-size: 20px;
  font-weight: 600;

}

input:focus {

  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: var(--component-hover);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}