.component-bg-hover:hover {

  background-color: var(--sys-hover-component);
  
}

.component-bg {

  background-color: var(--sys-hover-component);
  
}
.delete {

  color: var(--sys-action-red);

}

// Menú desplegable
.show-dropdown-menu {
  display: block;
}
