  <!-- Filtros -->
  <mat-expansion-panel class="!mb-4">

    <mat-expansion-panel-header>

      <mat-panel-title> Filters </mat-panel-title>

      <mat-panel-description class="flex place-content-end">

        <mat-icon>tune</mat-icon>

      </mat-panel-description>

    </mat-expansion-panel-header>

    <form [formGroup]="filterForm" (ngSubmit)="filterList()">

      <div class="my-2 grid grid-cols-1 lg:grid-cols-2 gap-2">

        <!-- Ingreso o gasto -->
        <mat-chip-listbox #chipList
        formControlName="type"
        class="flex place-self-center space-x-2"
        (change)="onChangeChip($event)">
  
          @for (type of ['income', 'expense']; track $index) {
  
            <mat-chip-option [value]="type" class="px-4 py-2">
              {{ capitalize(type) }}
            </mat-chip-option>
  
          }
  
        </mat-chip-listbox>

        <!-- Recurrencia -->
        <mat-checkbox formControlName="recurrences" class="text-center">Only recurrences</mat-checkbox>

        <!-- Fecha desde -->
        <mat-form-field class="w-full">

          <mat-label class="flex">

            <span>From date</span>

            @if(filterForm.get('fromDate')?.value) {

              <mat-icon class="cursor-pointer ml-2 place-self-center"
              (click)="filterForm.get('fromDate')?.setValue(null)">
                close
              </mat-icon>
  
            }

          </mat-label>

          <input matInput 
          [matDatepicker]="dp" 
          formControlName="fromDate"
          [max]="filterForm.get('toDate')?.value"
          readonly>
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>



        </mat-form-field>

        <!-- Fecha hasta -->
        <mat-form-field class="w-full">

          <mat-label class="flex">

            <span>To date</span>

            @if(filterForm.get('toDate')?.value) {

              <mat-icon class="cursor-pointer ml-2 place-self-center"
              (click)="filterForm.get('toDate')?.setValue(null)">
                close
              </mat-icon>
  
            }

          </mat-label>

          <input matInput 
          [matDatepicker]="dp1" 
          formControlName="toDate" 
          [min]="filterForm.get('fromDate')?.value"
          readonly>
          <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
          <mat-datepicker #dp1></mat-datepicker>

        </mat-form-field>

        <!-- Categorías -->
        <mat-form-field class="w-full">
          <mat-label>Categories</mat-label>
          <mat-select formControlName="categories" multiple (selectionChange)="filterSubcategories()">

            <mat-select-trigger>

              {{ filterForm.get('categories')?.value && filterForm.get('categories')?.value.length > 0 
                  ? filterForm.get('categories')?.value[0].name
                  : '' 
              }}

              @if ((filterForm.get('categories')?.value?.length || 0) > 1) {

                <span class="opacity-75 text-xs leading-none">

                  (+{{(filterForm.get('categories')?.value?.length || 0) - 1}} {{filterForm.get('categories')?.value?.length === 2 ? 'other' : 'others'}})

                </span>

              }

            </mat-select-trigger>

            @for (category of filteredCategories; track $index) {
              <mat-option [value]="category">{{ category.name }}</mat-option>
            }

          </mat-select>
        </mat-form-field>

        <!-- Subcategorías -->
        <mat-form-field class="w-full"
        [matTooltip]="(filterForm.get('categories')?.value && (filterForm.get('categories')?.value.length > 0 && filterSubcategories.length === 0))
        ? 'The categories doesn\'t have any subcategories'
        : 'Please select a category first'"
        [matTooltipDisabled]="filterForm.get('subcategories')?.enabled">

          <mat-label>Subcategories</mat-label>
          <mat-select formControlName="subcategories" multiple>

            <mat-select-trigger>

              {{ filterForm.get('subcategories')?.value && filterForm.get('subcategories')?.value.length > 0 
                  ? filterForm.get('subcategories')?.value[0].viewValue 
                  : '' 
              }}

              @if ((filterForm.get('subcategories')?.value?.length || 0) > 1) {

                <span class="opacity-75 text-xs leading-none">

                  (+{{(filterForm.get('subcategories')?.value?.length || 0) - 1}} {{filterForm.get('subcategories')?.value?.length === 2 ? 'other' : 'others'}})

                </span>

              }

            </mat-select-trigger>

            @for (group of filteredSubcategories; track $index) {

              <mat-optgroup [label]="group.name">

                @for (subcategory of group.values; track $index) {

                  <mat-option [value]="subcategory">{{ subcategory.viewValue }}</mat-option>

                }

              </mat-optgroup>
            }

          </mat-select>
        </mat-form-field>

        <!-- Cantidad desde -->
        <mat-form-field class="w-full" floatLabel="always">

          <mat-label>From amount</mat-label>
          <input matInput formControlName="fromAmount">

          <span matTextPrefix>{{ 0 | currencySymbol: currencyExchangeService.selectedCurrency().currencyCode }}</span>

          @if(filterForm.get('fromAmount')?.hasError('pattern')) {

            <mat-error> {{ invalidAmount }} </mat-error>
  
          }

        </mat-form-field>

        <!-- Cantidad hasta -->
        <mat-form-field class="w-full" floatLabel="always">

          <mat-label>To amount</mat-label>
          <input matInput formControlName="toAmount">

          <span matTextPrefix>{{ 0 | currencySymbol: currencyExchangeService.selectedCurrency().currencyCode }}</span>

          @if(filterForm.get('toAmount')?.hasError('pattern')) {

            <mat-error> {{ invalidAmount }} </mat-error>
  
          }  

        </mat-form-field>

      </div>

      <!-- Botón filtrar -->
      <div class="text-end">

        <button mat-button type="button" (click)="resetFilter()">
          <mat-icon>restart_alt</mat-icon>
          <span>Reset filter</span>
        </button>

        <button mat-flat-button type="submit" class="ml-2">
          <mat-icon>tune</mat-icon>
          <span>Filter</span>
        </button>

      </div>

    </form>

  </mat-expansion-panel>

  <!-- Botón añadir ingreso / gasto -->
  <div class="text-center">

    <button mat-button (click)="openIncomeOrExpenseDialog(actionType.CREATE)">
    <mat-icon>add</mat-icon>
    Add income / expense
    </button>

  </div>

  <!-- Lista de ingresos y gastos -->
  <section>

    @for (year of sortedYears; track $index) {

      <h2 class="text-xl font-semibold mb-4">{{ year }}</h2>

      @for (record of groupedRecords[year]; track $index) {

        <mat-card class="flex p-4 cursor-pointer shadow-none component-bg-hover"
        [ngClass]="{'component-bg': selectedRecordId === record.id, 'mb-4': selectedRecordId !== record.id}"
        (click)="toggleDetails(record.id!)">

          <div class="flex w-full items-center">

            <!-- Fecha -->
            <div class="flex flex-col items-center w-[7%]">
              <div class="text-lg font-bold">{{ record.date | date: 'dd' }}</div>
              <div class="text-base font-semibold">{{ record.date | date: 'MMM' }}</div>
            </div>
    
            <!-- Categoría y subcategoría -->
            <div class="flex flex-col w-[58%] pl-4">

              <p class="text-sm font-medium break-words text-balance">
                {{ record.category.name }}
              </p>

              <p class="text-xs break-words text-balance">
                {{ record.subcategory ? record.subcategory.name : '' }}
              </p>
              
            </div>
    
            <!-- Icono recurrencia -->
            @if (record.recurrenceDetails) {

              <mat-icon class="text-sm text-center absolute top-1 right-1"
              matTooltip="This {{ record.type }} has a recurrency">
                currency_exchange
              </mat-icon>

            }

            <!-- Cantidad y divisa -->
            <div class="flex flex-grow justify-end w-[35%]">
    
              <div class="font-medium">
                
                <span class="mr-1 hidden lg:inline">{{ 0 | currencySymbol: record.currency }}</span>

                <span [ngClass]="{'income': record.type === 'income', 'expense': record.type === 'expense'}"
                matTooltip="{{ record.amount | formatThousandSeparators }}"
                [matTooltipDisabled]="!shouldShowAmountTooltip(record.amount)">
                  {{ record.amount | formatAmount }}
                </span>
                
              </div>

            </div>
          </div>
        </mat-card>

        <!-- Componente de detalles -->
        @if (selectedRecordId === record.id) {

          <article @fadeInOut class="p-4 mb-4 rounded-lg shadow-md mx-2">
            
            <!-- Cabecera -->
            <header class="mb-4 flex justify-between items-center">

              <h3 class="text-xl font-semibold">Detalles</h3>

              <span 
                class="px-2 py-1 rounded text-xs font-medium"
                [ngClass]="{
                  'bg-green-100 text-green-800': record.type === 'income',
                  'bg-red-100 text-red-800': record.type === 'expense'
                }">
                {{ record.type === 'income' ? 'Income' : 'Expense' }}
              </span>
            </header>
          
            <!-- Detalles generales -->
            <div class="mb-4">

              <p class="text-sm">
                <strong>Category:</strong> {{ record.category.name }}
              </p>

              <p class="text-sm">
                <strong>Subcategory:</strong> {{ record.subcategory ? record.subcategory.name : '' }}
              </p>

              <p 
                class="text-sm font-semibold" 
                [ngClass]="{'income': record.type === 'income', 'expense': record.type === 'expense'}">
                <strong>Amount:</strong> 
                {{ 0 | currencySymbol: record.currency }} 
                {{ record.amount | formatThousandSeparators }}
              </p>

              <p class="text-sm">
                <strong>Notes:</strong> {{ record.notes }}
              </p>

            </div>
          
            <!-- Detalles de recurrencia -->
            @if(record.recurrenceDetails) {

              <section class="mb-4">

                <h4 class="text-lg font-semibold mb-2">Recurrence</h4>

                <p class="text-sm">
                  {{ getRecurrenceMessage(record.recurrenceDetails.recurrenceType, record.recurrenceDetails.frequency) }}
                </p>

                <p class="text-sm">
                  <strong>Occurrences:</strong> {{ record.recurrenceDetails.occurrences }}
                </p>

                <p class="text-sm">
                  <strong>End Date:</strong> {{ record.recurrenceDetails.endDate }}
                </p>

              </section>

            }
          
            <!-- Actions -->
            <footer class="flex justify-end space-x-2">

              <button 
                mat-button 
                class="delete flex items-center space-x-1"
                (click)="openDeleteDialog(record)">

                <mat-icon>delete</mat-icon>
                <span>Delete</span>

              </button>
          
              <button 
                mat-button 
                (click)="openIncomeOrExpenseDialog(actionType.EDIT, record)" 
                class="flex items-center space-x-1">

                <mat-icon>edit</mat-icon>
                <span>Edit</span>

              </button>

            </footer>

          </article>
        
        }

      }
    } @empty {

      
      <!-- Primera línea de separación -->
      <div class="mx-auto w-11/12 border-t mt-4 mb-4"></div>

      <div class="text-center">Empty list</div>
      
      <!-- Segunda línea de separación -->
      <div class="mx-auto w-11/12 border-t mt-4 mb-4"></div>

    }

    <!-- Botonera del listado -->
    <div class="flex justify-between">

      <div class="flex items-center space-x-1 self-center"
      matTooltip="Records loaded / total records">
        <mat-icon>visibility</mat-icon>
        <span>{{ recordsToShow.length + ' / ' + totalElements() }}</span>
      </div>

      <button mat-flat-button 
      (click)="getFilteredIncomeOrExpenses(buildFilter())"
      [disabled]="recordsToShow.length >= totalElements()"
      class="w-fit self-center">

        @if(recordsToShow.length >= totalElements()) {

          <mat-icon>keyboard_arrow_up</mat-icon>

        } @else {

          <mat-icon>add</mat-icon>

        }

        <span>{{ recordsToShow.length >= totalElements() ? 'All records are loaded' : 'Load more' }}</span>

      </button>

      <!-- Selector tamaño de página -->
      <button mat-button 
      [matMenuTriggerFor]="pageSizeMenu" 
      matTooltip="Change how many records you want to load" 
      class="w-fit self-end">

        <span>Size: {{ pageSize() }}</span>

      </button>

    </div>

  </section>

  <!-- Menú selector de tamaño -->
  <mat-menu #pageSizeMenu="matMenu">

    @for (size of [5, 10, 20, 30]; track $index) {

      <button mat-menu-item (click)="filterList(size)">
        {{ size }}
      </button>

    } @empty {

      <button mat-menu-item>
        <mat-icon>report</mat-icon>
        <span>No sizes available</span>
      </button>

    }

  </mat-menu>