@if(buttonType === 'flat') {

  <button 
  mat-flat-button 
  [ngClass]="buttonClass" 
  (click)="clicked()"
  [disabled]="disabled">

    @if(matIcon !== '') {
  
      <mat-icon>

        @if(loader) {

          <mat-spinner [diameter]="15"></mat-spinner>

        } @else {

          {{ matIcon }}

        }

      </mat-icon>
  
    }
  
    <span> {{ buttonText }} </span>
  
  </button>  

} @else if(buttonType === 'raised') {

  <button 
  mat-raised-button 
  [ngClass]="buttonClass" 
  (click)="clicked()"
  [disabled]="disabled">
  
    @if(matIcon !== '') {
  
      <mat-icon>

        @if(loader) {

          <mat-spinner [diameter]="15"></mat-spinner>

        } @else {

          {{ matIcon }}

        }

      </mat-icon>
  
  
    }
  
    <span> {{ buttonText }} </span>
  
  </button>  

} @else if(buttonType === 'basic') {

  <button 
  mat-button 
  [ngClass]="buttonClass" 
  (click)="clicked()"
  [disabled]="disabled">
  
    @if(matIcon !== '') {
  
      <mat-icon>

        @if(loader) {

          <mat-spinner [diameter]="15"></mat-spinner>

        } @else {

          {{ matIcon }}

        }

      </mat-icon>
  
  
    }
  
    <span> {{ buttonText }} </span>
  
  </button>  

} @else if(buttonType === 'stroked') {

  <button 
  mat-stroked-button 
  [ngClass]="buttonClass" 
  (click)="clicked()"
  [disabled]="disabled">
  
    @if(matIcon !== '') {
  
      <mat-icon>

        @if(loader) {

          <mat-spinner [diameter]="15"></mat-spinner>

        } @else {

          {{ matIcon }}

        }

      </mat-icon>
  
  
    }
  
    <span> {{ buttonText }} </span>
  
  </button>  

}

