.component-bg-hover:hover {

  background-color: var(--sys-hover-component);
  
}

.component-bg {

  background-color: var(--sys-hover-component);
  
}

.income {

  color: var(--sys-action-green);

}

.expense {

  color: var(--sys-action-red);

}

.delete {

  color: var(--sys-action-red);

}