<div class="md:flex">

  <!-- Sección filtros y lista -->
  <section class="md:w-2/5 m-3">

    <mat-card appearance="outlined" class="p-4">

      <!-- Filtros -->
      <mat-expansion-panel class="!mb-4">
  
        <mat-expansion-panel-header>
  
          <mat-panel-title> Filters </mat-panel-title>
  
          <mat-panel-description class="flex place-content-end">
  
            <mat-icon>tune</mat-icon>
  
          </mat-panel-description>
  
        </mat-expansion-panel-header>

        <form>

          Filters here

        </form>
    
      </mat-expansion-panel>

      <!-- Botón añadir ingreso / gasto -->
       <button mat-button (click)="openDialog(actionType.CREATE)" class="w-fit self-center">
        <mat-icon>add</mat-icon>
        Add income / expense
       </button>

      <!-- Lista de ingresos y gastos -->
      <section>

        @for (year of sortedYears; track $index) {
  
          <h2 class="text-xl font-semibold mb-4">{{ year }}</h2>
    
          @for (record of groupedRecords[year]; track $index) {
    
            <mat-card class="flex p-4 cursor-pointer shadow-none component-bg-hover"
            [ngClass]="{'component-bg': selectedRecordId === record.id, 'mb-4': selectedRecordId !== record.id}"
            (click)="toggleDetails(record.id!)">
  
              <div class="flex w-full items-center">
  
                <!-- Fecha -->
                <div class="flex flex-col items-center w-[7%]">
                  <div class="text-lg font-bold">{{ record.date | date: 'dd' }}</div> <!-- Día -->
                  <div class="text-base font-semibold">{{ record.date | date: 'MMM' }}</div> <!-- Mes -->
                </div>
        
                <!-- Categoría y subcategoría -->
                <div class="flex flex-col w-[58%] pl-4">
  
                  <p class="text-sm font-medium break-words text-balance">
                    {{ record.category }}
                  </p>
  
                  <p class="text-xs break-words text-balance">
                    {{ record.subCategory }}
                  </p>
                  
                </div>
        
                <!-- Icono recurrencia -->
                @if (record.recurrenceDetails) {
  
                  <mat-icon class="text-sm text-center absolute top-1 right-1"
                  matTooltip="This {{ record.type }} has a recurrency">
                    currency_exchange
                  </mat-icon>
  
                }
  
                <!-- Cantidad y divisa -->
                <div class="flex flex-grow justify-end w-[35%]">
        
                  <div class="font-medium">
                    
                    <span class="mr-1 hidden lg:inline">{{ 0 | currencySymbol: record.currency }}</span>
  
                    <span [ngClass]="{'income': record.type === 'income', 'expense': record.type === 'expense'}"
                    matTooltip="{{ record.amount | formatThousandSeparators }}"
                    [matTooltipDisabled]="!shouldShowAmountTooltip(record.amount)">
                      {{ record.amount | formatAmount }}
                    </span>
                    
                  </div>

                </div>
              </div>
            </mat-card>

            <!-- Componente de detalles -->
            @if (selectedRecordId === record.id) {

              <article @fadeInOut class="p-4 mb-4 rounded-lg shadow-md mx-2">
                
                <!-- Cabecera -->
                <header class="mb-4 flex justify-between items-center">

                  <h3 class="text-xl font-semibold">Detalles</h3>

                  <span 
                    class="px-2 py-1 rounded text-xs font-medium"
                    [ngClass]="{
                      'bg-green-100 text-green-800': record.type === 'income',
                      'bg-red-100 text-red-800': record.type === 'expense'
                    }">
                    {{ record.type === 'income' ? 'Income' : 'Expense' }}
                  </span>
                </header>
              
                <!-- Detalles generales -->
                <div class="mb-4">

                  <p class="text-sm">
                    <strong>Category:</strong> {{ record.category }}
                  </p>

                  <p class="text-sm">
                    <strong>Subcategory:</strong> {{ record.subCategory }}
                  </p>

                  <p 
                    class="text-sm font-semibold" 
                    [ngClass]="{'income': record.type === 'income', 'expense': record.type === 'expense'}">
                    <strong>Amount:</strong> 
                    {{ 0 | currencySymbol: record.currency }} 
                    {{ record.amount | formatThousandSeparators }}
                  </p>

                  <p class="text-sm">
                    <strong>Notes:</strong> {{ record.notes }}
                  </p>

                </div>
              
                <!-- Detalles de recurrencia -->
                @if(record.recurrenceDetails) {

                  <section class="mb-4">

                    <h4 class="text-lg font-semibold mb-2">Recurrence</h4>

                    <p class="text-sm">
                      {{ getRecurrenceMessage(record.recurrenceDetails.recurrenceType, record.recurrenceDetails.frequency) }}
                    </p>

                    <p class="text-sm">
                      <strong>Occurrences:</strong> {{ record.recurrenceDetails.occurrences }}
                    </p>

                    <p class="text-sm">
                      <strong>End Date:</strong> {{ record.recurrenceDetails.endDate }}
                    </p>

                  </section>

                }
              
                <!-- Actions -->
                <footer class="flex justify-end space-x-2">

                  <button 
                    mat-button 
                    class="delete flex items-center space-x-1">

                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>

                  </button>
              
                  <button 
                    mat-button 
                    (click)="openDialog(actionType.EDIT, record)" 
                    class="flex items-center space-x-1">

                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>

                  </button>

                </footer>

              </article>
            
            }

          }
        } @empty {

          
          <!-- Primera línea de separación -->
          <div class="mx-auto w-11/12 border-t mt-4 mb-4"></div>

          <div class="text-center">Empty list</div>
          
          <!-- Segunda línea de separación -->
          <div class="mx-auto w-11/12 border-t mt-4 mb-4"></div>

        }

      </section>
      
      <!-- Botón cargar más que ocupa todo el ancho disponible -->
      <button mat-flat-button 
      (click)="loadMore()" 
      class="w-fit self-center">

        <mat-icon class="mr-2">add</mat-icon>
        <span>Load more</span>

      </button>
      
      <!-- Selector tamaño de página en la esquina superior derecha -->
      <button mat-button 
      [matMenuTriggerFor]="pageSizeMenu" 
      matTooltip="Change how many records you want to load" 
      class="w-fit self-end">

        <span>Size: {{ pageSize() }}</span>

      </button>
    
      <!-- Menú selector de tamaño -->
      <mat-menu #pageSizeMenu="matMenu">

        @for (size of [5, 10, 20, 30]; track $index) {

          <button mat-menu-item (click)="pageSize.set(size)">
            {{ size }}
          </button>

        } @empty {

          <button mat-menu-item>
            <mat-icon>report</mat-icon>
            <span>No sizes available</span>
          </button>

        }

      </mat-menu>
      
    </mat-card>

  </section>

  <!-- Sección de gráficos -->
  <section class="md:w-3/5 m-3">

    <mat-card appearance="outlined" class="p-4">

      <mat-card-header>
        <mat-card-title>Ejemplo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </mat-card-content>

    </mat-card>

  </section>
</div>

