<div class="md:flex">

  <section class="md:w-2/5 m-3">

    <mat-card appearance="outlined" class="p-4">

      @for (year of sortedYears; track $index) {
  
        <h2 class="text-xl font-semibold mt-6 mb-4">{{ year }}</h2>
  
        @for (item of groupedItems[year]; track $index) {
  
          <mat-card class="flex p-4 mb-4 cursor-pointer hover:bg-[#253d4f]" appearance="outlined">
            <div class="flex w-full items-center">
              <!-- Fecha -->
              <div class="flex flex-col items-start w-1/5">
                <div class="text-base font-semibold">{{ item.date | date: 'd' }}</div> <!-- Día -->
                <div class="text-xs">{{ item.date | date: 'MMM' }}</div> <!-- Mes -->
              </div>
      
              <!-- Categoría y subcategoría -->
              <div class="flex flex-col items-start w-2/5 pl-4">
                <div class="text-sm font-medium">{{ item.category }}</div> <!-- Categoría -->
                <div class="text-xs">{{ item.subCategory || 'Subcategoría no disponible' }}</div> <!-- Subcategoría -->
              </div>
      
              <!-- Icono de recurrencia y cantidad -->
              <div class="flex items-center w-2/5 justify-between min-w-[150px]">
                <!-- Recurrencia -->
                @if (item.recurrenceDetails) {
  
                  <div class="flex items-center text-xs">
                    <mat-icon>currency_exchange</mat-icon>
                  </div>
  
                }
      
                <!-- Cantidad y divisa -->
                <div class="text-sm font-medium">
                  {{ item.amount }}
                </div>
  
              </div>
            </div>
          </mat-card>
  
        }
  
      }

    </mat-card>

  </section>

  <section class="md:w-3/5 m-3">

    <mat-card appearance="outlined">

      <mat-card-header>
        <mat-card-title>Ejemplo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </mat-card-content>

    </mat-card>

  </section>
</div>

