<div class="md:flex">

  <!-- Sección filtros y lista -->
  <section class="md:w-2/5 m-3">

    <mat-card appearance="outlined" class="p-4">

      <!-- Filtros -->
      <mat-expansion-panel class="!mb-4">
  
        <mat-expansion-panel-header>
  
          <mat-panel-title> Filters </mat-panel-title>
  
          <mat-panel-description class="flex place-content-end">
  
            <mat-icon>tune</mat-icon>
  
          </mat-panel-description>
  
        </mat-expansion-panel-header>

        <form>

          Filters here

        </form>
    
      </mat-expansion-panel>

      <!-- Botón añadir ingreso / gasto -->
       <button mat-button (click)="openDialog(actionType.CREATE)" class="w-fit self-center">
        <mat-icon>add</mat-icon>
        Add income / expense
       </button>

      <!-- Lista de ingresos y gastos -->
      <section>

        @for (year of sortedYears; track $index) {
  
          <h2 class="text-xl font-semibold mb-4">{{ year }}</h2>
    
          @for (item of groupedItems[year]; track $index) {
    
            <mat-card class="flex p-4 cursor-pointer shadow-none component-bg-hover"
            [ngClass]="{'component-bg': selectedItemId === item.id, 'mb-4': selectedItemId !== item.id}"
            (click)="toggleDetails(item.id!)">
  
              <div class="flex w-full items-center">
  
                <!-- Fecha -->
                <div class="flex flex-col items-center w-[7%]">
                  <div class="text-lg font-bold">{{ item.date | date: 'dd' }}</div> <!-- Día -->
                  <div class="text-base font-semibold">{{ item.date | date: 'MMM' }}</div> <!-- Mes -->
                </div>
        
                <!-- Categoría y subcategoría -->
                <div class="flex flex-col w-[58%] pl-4">
  
                  <p class="text-sm font-medium break-words text-balance">
                    {{ item.category }}
                  </p>
  
                  <p class="text-xs break-words text-balance">
                    {{ item.subCategory }}
                  </p>
                  
                </div>
        
                <!-- Icono recurrencia -->
                @if (item.recurrenceDetails) {
  
                  <mat-icon class="text-sm text-center absolute top-1 right-1"
                  matTooltip="This {{ item.type }} has a recurrency">
                    currency_exchange
                  </mat-icon>
  
                }
  
                <!-- Cantidad y divisa -->
                <div class="flex flex-grow justify-end w-[35%]">
        
                  <div class="font-medium">
                    
                    <span class="mr-1 hidden lg:inline">{{ 0 | currencySymbol: item.currency }}</span>
  
                    <span [ngClass]="{'income': item.type === 'income', 'expense': item.type === 'expense'}"
                    matTooltip="{{ item.amount | formatThousandSeparators }}"
                    [matTooltipDisabled]="!shouldShowAmountTooltip(item.amount)">
                      {{ item.amount | formatAmount }}
                    </span>
                    
                  </div>

                </div>
              </div>
            </mat-card>

            <!-- Componente de detalles -->
            @if (selectedItemId === item.id) {

              <article @fadeInOut class="p-4 mb-4 rounded-lg shadow-md mx-2">
                
                <!-- Cabecera -->
                <header class="mb-4 flex justify-between items-center">

                  <h3 class="text-xl font-semibold">Detalles</h3>

                  <span 
                    class="px-2 py-1 rounded text-xs font-medium"
                    [ngClass]="{
                      'bg-green-100 text-green-800': item.type === 'income',
                      'bg-red-100 text-red-800': item.type === 'expense'
                    }">
                    {{ item.type === 'income' ? 'Income' : 'Expense' }}
                  </span>
                </header>
              
                <!-- Detalles generales -->
                <div class="mb-4">

                  <p class="text-sm">
                    <strong>Category:</strong> {{ item.category }}
                  </p>

                  <p class="text-sm">
                    <strong>Subcategory:</strong> {{ item.subCategory }}
                  </p>

                  <p 
                    class="text-sm font-semibold" 
                    [ngClass]="{'income': item.type === 'income', 'expense': item.type === 'expense'}">
                    <strong>Amount:</strong> 
                    {{ 0 | currencySymbol: item.currency }} 
                    {{ item.amount | formatThousandSeparators }}
                  </p>

                  <p class="text-sm">
                    <strong>Notes:</strong> {{ item.notes }}
                  </p>

                </div>
              
                <!-- Detalles de recurrencia -->
                @if(item.recurrenceDetails) {

                  <section class="mb-4">

                    <h4 class="text-lg font-semibold mb-2">Recurrence</h4>

                    <p class="text-sm">
                      {{ getRecurrenceMessage(item.recurrenceDetails.recurrenceType, item.recurrenceDetails.frequency) }}
                    </p>

                    <p class="text-sm">
                      <strong>Occurrences:</strong> {{ item.recurrenceDetails.occurrences }}
                    </p>

                    <p class="text-sm">
                      <strong>End Date:</strong> {{ item.recurrenceDetails.endDate }}
                    </p>

                  </section>

                }
              
                <!-- Actions -->
                <footer class="flex justify-end space-x-2">

                  <button 
                    mat-button 
                    class="delete flex items-center space-x-1">

                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>

                  </button>
              
                  <button 
                    mat-button 
                    (click)="openDialog(actionType.EDIT, item)" 
                    class="flex items-center space-x-1">

                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>

                  </button>

                </footer>

              </article>
            
            }

          }
        }

      </section>
      
      <!-- Botón cargar más -->
      <button mat-flat-button (click)="loadMore()" class="w-fit self-center mt-4">
        <mat-icon>add</mat-icon>
        Load more
      </button>

    </mat-card>

  </section>

  <!-- Sección de gráficos -->
  <section class="md:w-3/5 m-3">

    <mat-card appearance="outlined" class="p-4">

      <mat-card-header>
        <mat-card-title>Ejemplo</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </mat-card-content>

    </mat-card>

  </section>
</div>

