.component-bg-hover:hover {

  background-color: var(--sys-hover-component);
  
}

.component-bg {

  background-color: var(--sys-hover-component);
  
}

.income {

  color: var(--sys-green);

}

.expense {

  color: var(--sys-red);

}

.delete {

  color: var(--sys-error);

}