<div class="flex flex-col items-center justify-center gap-6 px-4 md:mt-24 text-center">
  <div class="max-w-md w-full p-8 rounded-lg">
    <p class="text-xl font-semibold text-[var(--text-primary)] mb-2">404</p>
    <h1 class="text-4xl font-bold tracking-tight text-[var(--text-primary)] sm:text-5xl mb-4">Page not found</h1>
    <p class="text-lg text-[var(--text-secondary)] mb-6">Sorry, we couldn't find the page you're looking for.</p>

    <button
      [routerLink]="['']"
      class="button bg-[var(--primary)] hover:bg-[var(--primary-hover)] w-full justify-center place-self-center mt-3">
      <span class="material-symbols-outlined">keyboard_return</span>
      Back to home
    </button>
  </div>
</div>