<!-- Selector cambio de divisa -->
<section>

  <button mat-button
    type="button"
    [matMenuTriggerFor]="currencyMenu" 
    aria-label="Currency exchange menu"
    matTooltip="Convert all currencies into a single currency"
    class="ms-3 me-3">

      <span>Convert all currencies into: </span>

      @if(noCurrency.currencyCode === selectedCurrency.currencyCode) {
        <mat-icon>block</mat-icon>
      } @else {
        <mat-icon [svgIcon]="selectedCurrency.currencyCode"></mat-icon>
      }

      <span>{{ selectedCurrency.currencyCode }}</span>

  </button>
  
</section>

<!-- Menú divisas -->
<mat-menu #currencyMenu="matMenu">

  <button mat-menu-item (click)="selectCurrency(noCurrency)">
    <mat-icon>block</mat-icon>
    @if(noCurrency.currencyCode === selectedCurrency.currencyCode) {
      <mat-icon>check</mat-icon>
    }
    <span>None</span>
  </button>

  @for(currency of currencyExchangeService.currencies(); track currency) {

    <button mat-menu-item (click)="selectCurrency(currency)">
      <mat-icon [svgIcon]="currency.currencyCode"></mat-icon>
      @if(currency.currencyCode === selectedCurrency.currencyCode) {
        <mat-icon>check</mat-icon>
      }
      <span>{{ currency.currencyName }}</span>
    </button>

  }

</mat-menu>
