<!-- Selector cambio de divisa -->
<section>

  <button mat-button
    type="button"
    [matMenuTriggerFor]="currencyMenu" 
    aria-label="Currency exchange menu"
    [matTooltip]="tooltip"
    class="ms-3 me-3">

      <span>{{ buttonText }}</span>
      <mat-icon [svgIcon]="selectedCurrency.currencyCode"></mat-icon>

      <span>{{ selectedCurrency.currencyCode }}</span>

  </button>
  
</section>

<!-- Menú divisas -->
<mat-menu #currencyMenu="matMenu">

  @for(currency of currencyExchangeService.currencies(); track currency) {

    <button mat-menu-item (click)="selectCurrency(currency)">
      <mat-icon [svgIcon]="currency.currencyCode"></mat-icon>
      @if(currency.currencyCode === selectedCurrency.currencyCode) {
        <mat-icon>check</mat-icon>
      }
      <span>{{ currency.currencyName }}</span>
    </button>

  }

</mat-menu>
