@use '@angular/material' as mat;
@include mat.core();

// Tema personalizado
$custom-theme: mat.define-theme((

  color: (

    use-system-variables: true

  ),

));

html {

  /* PALETA EN HEX */
  --sys-background: #e3e9f0;
  --sys-on-background: #181c20;
  --sys-surface: #cde0f0;
  --sys-surface-dim: #d7dadf;
  --sys-surface-bright: #f7f9ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f1f4f9;
  --sys-surface-container: #ebeef3;
  --sys-surface-container-high: #e5e8ed;
  --sys-surface-container-highest: #e0e3e8;
  --sys-on-surface: #181c20;
  --sys-surface-variant: #dde3ea;
  --sys-on-surface-variant: #41474d;
  --sys-inverse-surface: #2d3135;
  --sys-inverse-on-surface: #eef1f6;
  --sys-outline: #71787e;
  --sys-outline-variant: #c1c7ce;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #266489;
  --sys-primary: #266489;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #c9e6ff;
  --sys-on-primary-container: #004b6f;
  --sys-inverse-primary: #95cdf7;
  --sys-secondary: #256489;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #c9e6ff;
  --sys-on-secondary-container: #004c6e;
  --sys-tertiary: #66558e;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #eaddff;
  --sys-on-tertiary-container: #4e3d75;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #74777c;
  --sys-neutral-variant: #72787e;
  --sys-primary-fixed: #c9e6ff;
  --sys-primary-fixed-dim: #95cdf7;
  --sys-on-primary-fixed: #001e2f;
  --sys-on-primary-fixed-variant: #004b6f;
  --sys-secondary-fixed: #c9e6ff;
  --sys-secondary-fixed-dim: #94cdf7;
  --sys-on-secondary-fixed: #001e2f;
  --sys-on-secondary-fixed-variant: #004c6e;
  --sys-tertiary-fixed: #eaddff;
  --sys-tertiary-fixed-dim: #d1bcfd;
  --sys-on-tertiary-fixed: #220f46;
  --sys-on-tertiary-fixed-variant: #4e3d75;
  --sys-inverse-secondary: #94cdf7;
  --sys-inverse-tertiary: #d1bcfd;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d

  /* Custom (WIP) */
  --sys-green: #209925;
  --sys-red: #992020;

}

.dark {

  /* PALETA EN HEX */
  --sys-background: #222b31;
  --sys-on-background: #e0e3e8;
  --sys-surface: #101417;
  --sys-surface-dim: #101417;
  --sys-surface-bright: #363a3e;
  --sys-surface-container-lowest: #0b0f12;
  --sys-surface-container-low: #181c20;
  --sys-surface-container: #1c2024;
  --sys-surface-container-high: #262a2e;
  --sys-surface-container-highest: #313539;
  --sys-on-surface: #e0e3e8;
  --sys-surface-variant: #41474d;
  --sys-on-surface-variant: #c1c7ce;
  --sys-inverse-surface: #e0e3e8;
  --sys-inverse-on-surface: #2d3135;
  --sys-outline: #8b9198;
  --sys-outline-variant: #41474d;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #95cdf7;
  --sys-primary: #95cdf7;
  --sys-on-primary: #00344e;
  --sys-primary-container: #004b6f;
  --sys-on-primary-container: #c9e6ff;
  --sys-inverse-primary: #266489;
  --sys-secondary: #94cdf7;
  --sys-on-secondary: #00344d;
  --sys-secondary-container: #004c6e;
  --sys-on-secondary-container: #c9e6ff;
  --sys-tertiary: #d1bcfd;
  --sys-on-tertiary: #37265d;
  --sys-tertiary-container: #4e3d75;
  --sys-on-tertiary-container: #eaddff;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #74777c;
  --sys-neutral-variant: #72787e;
  --sys-primary-fixed: #c9e6ff;
  --sys-primary-fixed-dim: #95cdf7;
  --sys-on-primary-fixed: #001e2f;
  --sys-on-primary-fixed-variant: #004b6f;
  --sys-secondary-fixed: #c9e6ff;
  --sys-secondary-fixed-dim: #94cdf7;
  --sys-on-secondary-fixed: #001e2f;
  --sys-on-secondary-fixed-variant: #004c6e;
  --sys-tertiary-fixed: #eaddff;
  --sys-tertiary-fixed-dim: #d1bcfd;
  --sys-on-tertiary-fixed: #220f46;
  --sys-on-tertiary-fixed-variant: #4e3d75;
  --sys-inverse-secondary: #256489;
  --sys-inverse-tertiary: #66558e;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;

  /* Custom (WIP) */
  --sys-green: #209925;
  --sys-red: #992020;

}

html {

  @include mat.all-component-themes($custom-theme);

}

// Reglas de tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

// Aplica el color de fondo a las filas de registros de las tablas
td {

  background-color: var(--sys-on-primary) !important;

}

// Aplica un borde a la izquierda de cada columna excepto la primera
th:not(:first-child)::before {

  content: "";
  position: absolute;
  left: 0;                                      /* Posiciona el borde a la izquierda */
  top: 10px;                                    /* Se separa del borde superior */
  bottom: 10px;                                 /* Se separa del borde inferior */
  width: 1px;                                   /* Ancho del borde */
  background-color: var(--sys-on-background);   /* Color del borde */
  height: calc(100% - 20px);                    /* Altura ajustada para evitar las esquinas */
                   
}

// Título primario
h1 {

  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;

}

// Trunca un texto largo para añadir ... al final
.truncar-texto-largo {

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

}
