@use '@angular/material' as mat;
@include mat.core();

// Tema personalizado
$custom-theme: mat.define-theme((
  color: (
    use-system-variables: true
  ),
));

// Color principal HEX: #81d5cc

html {
  // PALETA EN HEX
  --sys-background:#f4fbf9;
  --sys-on-background:#161d1c;
  --sys-surface:#f4fbf9;
  --sys-surface-dim:#d5dbda;
  --sys-surface-bright:#f4fbf9;
  --sys-surface-container-lowest:#ffffff;
  --sys-surface-container-low:#eff5f3;
  --sys-surface-container:#e9efee;
  --sys-surface-container-high:#e3e9e8;
  --sys-surface-container-highest:#dde4e2;
  --sys-on-surface:#161d1c;
  --sys-surface-variant:#dae5e2;
  --sys-on-surface-variant:#3f4947;
  --sys-inverse-surface:#2b3231;
  --sys-inverse-on-surface:#ecf2f1;
  --sys-outline:#6f7977;
  --sys-outline-variant:#bec9c6;
  --sys-shadow:#000000;
  --sys-scrim:#000000;
  --sys-surface-tint:#006a63;
  --sys-primary:#006a63;
  --sys-on-primary:#ffffff;
  --sys-primary-container:#9df2e8;
  --sys-on-primary-container:#00504b;
  --sys-inverse-primary:#81d5cc;
  --sys-secondary:#006a64;
  --sys-on-secondary:#ffffff;
  --sys-secondary-container:#9df2e9;
  --sys-on-secondary-container:#00504b;
  --sys-tertiary:#31628d;
  --sys-on-tertiary:#ffffff;
  --sys-tertiary-container:#cfe5ff;
  --sys-on-tertiary-container:#124a73;
  --sys-error:#904a43;
  --sys-on-error:#ffffff;
  --sys-error-container:#ffdad5;
  --sys-on-error-container:#73342d;
  --sys-neutral:#717877;
  --sys-neutral-variant:#6f7977;
  --sys-primary-fixed:#9df2e8;
  --sys-primary-fixed-dim:#81d5cc;
  --sys-on-primary-fixed:#00201d;
  --sys-on-primary-fixed-variant:#00504b;
  --sys-secondary-fixed:#9df2e9;
  --sys-secondary-fixed-dim:#81d5cc;
  --sys-on-secondary-fixed:#00201e;
  --sys-on-secondary-fixed-variant:#00504b;
  --sys-tertiary-fixed:#cfe5ff;
  --sys-tertiary-fixed-dim:#9ccbfb;
  --sys-on-tertiary-fixed:#001d33;
  --sys-on-tertiary-fixed-variant:#124a73;
  --sys-inverse-secondary:#81d5cc;
  --sys-inverse-tertiary:#9ccbfb;
  --sys-inverse-error:#ffb4ab;
  --sys-error-fixed:#ffdad5;
  --sys-error-fixed-dim:#ffb4ab;
  --sys-on-error-fixed:#3b0907;
  --sys-on-error-fixed-variant:#73342d;
}

.dark {
  // PALETA EN HEX
  --sys-background:#0e1514;
  --sys-on-background:#dde4e2;
  --sys-surface:#0e1514;
  --sys-surface-dim:#0e1514;
  --sys-surface-bright:#343a3a;
  --sys-surface-container-lowest:#090f0f;
  --sys-surface-container-low:#161d1c;
  --sys-surface-container:#1a2120;
  --sys-surface-container-high:#252b2b;
  --sys-surface-container-highest:#2f3635;
  --sys-on-surface:#dde4e2;
  --sys-surface-variant:#3f4947;
  --sys-on-surface-variant:#bec9c6;
  --sys-inverse-surface:#dde4e2;
  --sys-inverse-on-surface:#2b3231;
  --sys-outline:#899391;
  --sys-outline-variant:#3f4947;
  --sys-shadow:#000000;
  --sys-scrim:#000000;
  --sys-surface-tint:#81d5cc;
  --sys-primary:#81d5cc;
  --sys-on-primary:#003733;
  --sys-primary-container:#00504b;
  --sys-on-primary-container:#9df2e8;
  --sys-inverse-primary:#006a63;
  --sys-secondary:#81d5cc;
  --sys-on-secondary:#003733;
  --sys-secondary-container:#00504b;
  --sys-on-secondary-container:#9df2e9;
  --sys-tertiary:#9ccbfb;
  --sys-on-tertiary:#003354;
  --sys-tertiary-container:#124a73;
  --sys-on-tertiary-container:#cfe5ff;
  --sys-error:#ffb4ab;
  --sys-on-error:#561e19;
  --sys-error-container:#73342d;
  --sys-on-error-container:#ffdad5;
  --sys-neutral:#717877;
  --sys-neutral-variant:#6f7977;
  --sys-primary-fixed:#9df2e8;
  --sys-primary-fixed-dim:#81d5cc;
  --sys-on-primary-fixed:#00201d;
  --sys-on-primary-fixed-variant:#00504b;
  --sys-secondary-fixed:#9df2e9;
  --sys-secondary-fixed-dim:#81d5cc;
  --sys-on-secondary-fixed:#00201e;
  --sys-on-secondary-fixed-variant:#00504b;
  --sys-tertiary-fixed:#cfe5ff;
  --sys-tertiary-fixed-dim:#9ccbfb;
  --sys-on-tertiary-fixed:#001d33;
  --sys-on-tertiary-fixed-variant:#124a73;
  --sys-inverse-secondary:#006a64;
  --sys-inverse-tertiary:#31628d;
  --sys-inverse-error:#904a43;
  --sys-error-fixed:#ffdad5;
  --sys-error-fixed-dim:#ffb4ab;
  --sys-on-error-fixed:#3b0907;
  --sys-on-error-fixed-variant:#73342d;
}

html {
  @include mat.all-component-themes($custom-theme);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
